    <!-- Clients -->
    <div id="clients" class="pt-5 bg-faded">
      <div class="container pb-5">
        <!-- Logos carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
        <div class="owl-dots-center owl-nav-over owl-nav-over-hover" data-toggle="owl-carousel" data-owl-carousel-settings='{"items": 4, "lazyLoad":true, "nav":true, "dots":true}'>
          <a href="#">
            <img data-src="assets/img/customers/customer-1.png" alt="Item 1 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 1
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-2.png" alt="Item 2 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 2
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-3.png" alt="Item 3 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 3
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-4.png" alt="Item 4 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 4
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-5.png" alt="Item 5 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 5
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-6.png" alt="Item 6 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 6
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-7.png" alt="Item 7 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 7
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-8.png" alt="Item 8 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 8
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-9.png" alt="Item 9 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 9
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-10.png" alt="Item 10 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 10
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-11.png" alt="Item 11 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 11
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-12.png" alt="Item 12 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 12
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-13.png" alt="Item 13 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 13
            </h5>
          </a>
          <a href="#">
            <img data-src="assets/img/customers/customer-14.png" alt="Item 14 image" class="owl-lazy img-fluid" />
            <h5 class="mt-4 text-center">
              Customer 14
            </h5>
          </a>
        </div>
      </div>
      <div class="bg-inverse text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-t divider-inverse">
        <div class="container">
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Clients
          </h2>
          <hr class="hr-lg mt-2 mb-0 w-10 mx-auto hr-primary" />
        </div>
      </div>
    </div>