<!-- ======== @Region: #footer ======== -->
<footer id="footer" class="p-0 footer-light">
  <div class="container pt-6 pb-5">
    <div class="row">
      <div class="col-md-4">
        <!--@todo: replace with company contact details-->
        <h4 class="text-uppercase text-grey-dark">
          Contact Us
        </h4>
        <address>
          <ul class="list-unstyled">
            <li>
              <abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
              360.918.6978
            </li>
            <li>
              <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
              info@CremaDevelopment.com
            </li>
            <li>
              <abbr title="Address"><i class="fa fa-home fa-fw"></i></abbr>
              Olympia, WA 98502
            </li>
          </ul>
        </address>
      </div>
      
      <div class="col-md-4">
        <h4 class="text-uppercase text-grey-dark">
          About Us
        </h4>
        <p>Created as a localy owned consultancy in Olympia Washington in 2016. Crema Development works hard to be a top shelf full service shop.</p>
      </div>
      
      <div class="col-md-4">
        <h4 class="text-uppercase text-grey-dark">
          Newsletter
        </h4>
        <p>Wouldn't it be cool if we had a newsletter. We could keep you upto date with all the goings on, new projects, and all kinds of exciting stuff to clutter your inbox with.</p>
      </div>
    </div>
  </div>

  <hr class="my-0 hr-blank op-2" />

  <!--@todo: replace with company copyright details-->
  <div class="bg-grey text-sm py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">Copyright 2017 &copy; Crema Development LLC</p>
        </div>
      </div>
      <a href="#top" class="btn btn-icon btn-inverse pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden hidden-md-down" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
    </div>
  </div>
</footer>