    <!-- Promos -->
    <div class="container py-4 py-lg-6">
      <div class="row text-left">
        <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
          <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/happy.jpg">
            <h2 class="text-white mb-0 display-4 font-weight-bold">
              <span data-toggle="count-to" data-to="898" data-from="0">0</span>k
            </h2>
            <p class="text-white text-uppercase mb-0">Happy Customers</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
        </div>
        <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
          <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/code.jpg">
            <h2 class="text-white mb-0 display-4 font-weight-bold">
              <span data-toggle="count-to" data-to="8980" data-from="0">0</span>k
            </h2>
            <p class="text-white text-uppercase mb-0">Lines of code</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
        </div>
        <div class="col-lg-4 d-lg-flex">
          <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="assets/img/homes/coffee.jpg">
            <h2 class="text-white mb-0 display-4 font-weight-bold">
              <span data-toggle="count-to" data-to="5088" data-from="0">0</span>
            </h2>
            <p class="text-white text-uppercase mb-0">Cups of coffee</p>
            <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
          </div>
        </div>
      </div>
    </div>