<!-- ======== @Region: #content ======== -->
<div id="content" class="p-0 clearfix">
  <!-- Features -->
  <div id="features" class="bg-white">
    <div class="bg-inverse text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-inverse">
      <div class="container">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Services
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
          One company with a full catalog of specialties!
        </h5>
      </div>
    </div>
    <div class="container p-4 py-lg-6">
      <div class="row text-center">
        <div class="col-lg-3 py-2">
          <i class="fa fa-tachometer icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i> 
          <h4 class="mt-2">
            Fully Optimized
          </h4>
          <p>Suscipit ut uxor. Damnum hendrerit pagus pneum saepius sino.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-wrench icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i> 
          <h4 class="mt-2">
            Free Support
          </h4>
          <p>Bene facilisis gilvus nisl. Eros ibidem pala. Acsi elit populus.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-rocket icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i> 
          <h4 class="mt-2">
            Free Upgrades
          </h4>
          <p>Abico aptent fere jumentum magna olim secundum similis.</p>
        </div>
        <div class="col-lg-3 py-2">
          <i class="fa fa-line-chart icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i> 
          <h4 class="mt-2">
            99.9% Uptime
          </h4>
          <p>Conventio dolor et eu paratus usitas. Caecus duis ea et loquor minim neque quidem si.</p>
        </div>
      </div>
    </div>
  </div>
</div>