<!-- Why AppStrap -->
<div class="bg-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-inverse" data-bg-img="assets/img/backgrounds/computer-screens.jpg"></div>
      <div class="col-lg-4 py-5">
        <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
        <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
          Project <span class="text-primary font-weight-bold">Training</span>
        </h2>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i></div>
          <div class="col-10 col-md-11 text-grey">
            <h4 class="font-weight-bold text-white text-uppercase">
              Shoulder to Shoulder
            </h4>
            <p>Our consultants work with your employees to build their skills and confidence.</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i></div>
          <div class="col-10 col-md-11 text-grey">
            <h4 class="font-weight-bold text-white text-uppercase">
              Producing while Training
            </h4>
            <p>Teaching by example and leaving clean and clear patterns in place is a proven practice. We take pride in what we produce and those who grow with us to produce it.</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 col-md-1 text-center"> <i class="fa fa-check text-primary icon-2x"></i></div>
          <div class="col-10 col-md-11 text-grey">
            <h4 class="font-weight-bold text-white text-uppercase">
              99.9% Success
            </h4>
            <p>We excell at what we do. If we don't do it right, then we fix it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>